.single-input-number-primary {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: #b688343d;
    padding: 0 5px;
}

.menu-img {
    background-repeat: no-repeat;
    background-position-x: center;
}
.coffee {
    background-image: url('../img/menu/cappuccino.png');
}

.americano {
    background-image: url('../img/menu/americano.png');
}

.expresso {
    background-image: url('../img/menu/espresso.png');
}

.about-ordered-list {
    background: #fff;
    padding: 30px 0;
}